.newsPost{
    background-color: #fff7f7;
    // padding: 20px;
    margin: 20px 0;
    max-width: 49%;
    width: 100%;
    position: relative;
    &ShowMore {
        position: relative;
        z-index: 99;
    }
    &More{
        background-color: rgb(205, 221, 218);
        right: 0;
        top: 0;
        margin-top: 20px;
        margin-right: 20px;
        width: 200px;
        position: absolute;
        border-radius: 6px;
        padding: 10px;
        
        button {
            border: none;
            background-color: #fff;
            padding: 6px;
            margin: 2px;
            transition: 0.25s ease all;
            cursor: pointer;
            &:hover{
                opacity: 0.6;
            }
        }
    }
    &Content{
        display: block;
        padding: 20px;
        padding-top: 0;
        transition: .25s ease all;
        &:hover{
            opacity: 0.6;
        }
    }
    &Agree{
        padding: 20px;
        padding-bottom: 0;
        align-items: center;
    }
    .newsPostTitle{
        font-size: 20px;
        margin: 10px 0;
    }
    .newsPostText{
        margin: 10px 0;
    }
    .newsPostDate {
        font-size: 12px;
        color: rgb(80, 80, 80);
    }
    &Agree{
        font-size: 12px;
        &Btn{
            background-color: rgb(65, 201, 65);
            color: #fff;
            border: none;
            padding: 10px 15px;
            border-radius: 10px;
            cursor: pointer;
            transition: 0.25s ease all;
            &:hover{
                opacity: 0.4;
            }
        }
    }
    &IsAgree {
        color: green;
    }
    &IsNotAgree{
        color: red;
    }
}

@media (max-width: 992px){
    .newsPost {
        max-width: 100%;
    }
}