.newsPost{
    background-color: #fff7f7;
    padding: 20px;
    margin: 20px 0;
    max-width: 45%;
    width: 100%;
    .newsPostTitle{
        font-size: 20px;
        margin: 10px 0;
    }
    .newsPostText{
        margin: 10px 0;
    }
    .newsPostDate {
        font-size: 12px;
        color: rgb(80, 80, 80);
    }
    &Agree{
        font-size: 12px;
        &Btn{
            background-color: rgb(65, 201, 65);
            color: #fff;
            border: none;
            padding: 10px 15px;
            border-radius: 10px;
            cursor: pointer;
            transition: 0.25s ease all;
            &:hover{
                opacity: 0.4;
            }
        }
    }
    &IsAgree {
        color: green;
    }
    &IsNotAgree{
        color: red;
    }
}

@media (max-width: 992px){
    .newsPost {
        max-width: 100%;
    }
}