.news {
    .newsPosts{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    &AddPostForm{
        &Wrapper{
            display: flex;
            flex-direction: column;
            max-width: 400px;
            textarea{
                min-height: 100px;
                resize: none;
            }
        }
    }
    .search{
        margin-left: 40px;
    }
}
